<div class="jumbotron">
  <h2>Bem vindo(a)!</h2>
  <p class="lead">Esse é a minha solução para o Tech Challenge Elixir!</p>
  <a href="https://github.com/ramondelemos/tech-challenge">GitHub</a>
</div>